*{
    margin:auto;
    padding:0;
    box-sizing:border-box;
}
.button-holster{
    width:100%;
    height:fit-content;
    display:inline-block;
}
.button{
    width:150px;
    height:50px;
    border:1px solid black;
    margin:5px;
}